.Main{
    position: relative;
    width: 100%;

    &--header{
        display: flex;

        &__title{
            font-size: 24px;
            font-family: sans-serif;
            width: 48%;

            &_h1{
                margin: 0;
                font-weight: 400;
            }

            &-span{
                font-weight: 400;
                font-size: 14px;
                color: #574b90;
                text-transform: uppercase;
            }
            
        }

        &__fav{
            position: relative;

            &_Btn{
                padding: 8px;
                padding-left: 30px;
                font-size: 16px;
                background-color: inherit;
                background: url('/fav.svg') no-repeat 10px 10px;
                font-weight: 600;
                border-radius: 3px;
                margin-right: 30px;
            }

            &_Btn2{
                padding: 8px;
                padding-left: 30px;
                font-size: 16px;
                background-color: inherit;
                background: url('https://www.cuddlynest.com/images/sv2_icons/share_icon.png') no-repeat 10px 6px;
                background-size: 12px;
                font-weight: 600;
                border-radius: 3px;
            }

        }
    }


}

.Page--Warning{
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 30px 0;
    font-family: sans-serif;

    &__text{
        width: 95%;
        color: #a94442;
        border-radius: 2px;
        padding: 10px;
        margin: 0 auto;
        background-color: #f2dede;
        border: 1px solid #ebccd1;
    }
}

.Hotel{
    display: inline;
    position: relative;

    &--report{
        position: relative;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;

        & button{
            background-color: inherit;
            border: none;
            color: #f47b70;
            width: fit-content;
            cursor: pointer;
            font-size: 18px;
            & img{
                width: 14px;
            }

            &:active,
            &:focus{
                outline: none;
            }
            
        }
    }
    
    &--h3{
        font-size: 25px;
        font-family: sans-serif;
        font-weight: 400;
    }

    &--p{
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 400;
    }

    &--map{
        width: 100%;
        height: 650px;
        border: 1px solid #000000;
    }

    &--h4{
        font-family: sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin-top: -10px;
    }

    &--header{
        z-index: 100;
        width: 100%;
        background-color: #ffffff;
        position: -webkit-sticky;
        position: sticky;
        top: 0;

        &__ul{
            list-style: none;
            padding: 0;
            padding: 20px 0px 40px 0px;

            &_li{
                float: left;
                padding: 0;
                cursor: pointer;

                // &_a{
                    font-family: sans-serif;
                    text-decoration: none;
                    color: #000000;
                    font-size: 18px;
                    
                    &.active{
                        border-bottom: 2px solid #e56399;
                    }
                    &:hover{
                        border-bottom: 2px solid #e56399;
                    }
                    &:not(:last-child){
                        margin-right: 20px;
                    }
                // }
            }
            &_li > .active{
                border-bottom: 2px solid #e56399;
            }
        }
    }

    &--selectRoom{
        position: relative;
        border-top: 1px solid #cccccc;
        
        &__datePicker{
            padding-top: 20px;
            padding-bottom: 20px;
            width: 100%;
            display: flex;

            &--number{
                margin-left: 10px;
                vertical-align: middle;
                border: 1px solid #ccc;
                font-family: sans-serif;
                & button{
                    padding: 10px;
                    border: none;
                    font-size: 14px;
                    cursor: pointer;
                    padding-left: 20px;
                    padding-right: 20px;

                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }

    &--table{
        font-family: sans-serif;
        font-size: 18px;
        width: 65%;

        & tr td{
            line-height: 1.5em;
        }

        & tr td:first-child{
            vertical-align: top;
            width: 20%;
        }
    }
}

@media screen and (max-width: 1099px) {
    .Main--header__fav{
      display: none;
    }
    .Main--header__title{
        width: 100%;
    }
   
    .Hotel--table{
        width: 100%;
    }
  }

  @media screen and (max-width: 767px){
    .Hotel--header{
      display: none;
    }
  }