.SideDrawer {
    position: fixed;
    width: 90%;
    left: 5%;
    opacity: 0;
    z-index: 2000;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;

    &--carousel{
        display: flex;
        justify-content: space-between;
        position: relative;

        &__prev{
            width: 20%;
            display: flex;
            flex-direction: row;
            cursor: pointer;
        }
        &__cont{
            width: 60%;
            text-align: center;

            &-img{
            }
        }
        &__next{
            cursor: pointer;
            width: 20%;
            display: flex;
            flex-direction: row-reverse;
        }
    }

    &--close{
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: flex-end;
        margin-bottom: 80px;
        margin-top: 40px;

        & img{
            
            width: 30px;
            cursor: pointer;
        }
    }

    &--btmDetail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & p{
            color: #ffffff;
        }
    }
}


.Open {
    transform: translateX(0);
    opacity: 1;
}

.Close {
    transform: translateX(-100%);
}

