.SearchBar{
    width: 20%;
    position: relative;
    &--input{
        width: 90%;
        padding: 12px 35px;
        position: relative;
        background: url('/search_icon.svg') no-repeat 10px 12px;
        border: 1px solid #ccc;
        border-radius: 3px;

        &::placeholder{
            font-size: 15px;
            font-weight: 400;
        }

        &:focus{
            outline: none;
        }
        
    }
}

