.Nav{
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;

    &--section{
        list-style: none;
        &__list{
            &:first-child{
                width: 40px;
            }
            float: left;
            font-family: sans-serif;
            color: rgb(87, 75, 144);
            font-weight: 600;
            font-size: 15px;

            &:not(:last-child){
                margin-right: 30px;
                color: #000;
                font-weight: normal;
                font-size: 15px;
            }
            
            &_link{
                cursor: pointer;
                &_dropdown{
                    width: 100%;
                    cursor: pointer;
                    padding-right: 30px;
                    background: url(https://www.cuddlynest.com/images/hpv2_homeicons/menuarrow_color.png) no-repeat 35px 4px;
                    background-size: 8px;
                    background-color: #fff;
                    color: #000;
                }
                &_dropdown:hover + &_sub{
                    visibility: visible;
                    opacity: 1;
                }

                &_sub{
                    visibility: hidden;
                background: #fff;
                box-shadow: 0 4px 10px rgba(0,0,0,.1);
                border-radius: 2px 5px 5px 5px;
                position: absolute;
                padding: 15px 35px;
                
                top: 50px;
                margin: 0;
                opacity: 1;
                min-width: 180px;
                transform: translateY(-1em);
                transition: all .3s ease-in-out 0s,visibility 0s linear .3s,z-index 0s linear 10ms;
                z-index: 500;
                list-style-type: none;

                &_menu{
                    border-top: 1px solid #b3b1b4;
                    padding-top: 20px;
                }
               
                & li ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    display: block;

                    & li{
                        list-style-type: none;
                        
                        margin-bottom: 10px;
    
                        & a{
                            font-size: 16px;
                            line-height: 20px;
                            color: #000;
                            padding: 0;
                            font-weight: 400;
                            text-transform: unset;
                            cursor: pointer;

                            &.active{
                                font-weight: 600;
                            }
                        }
                    }
                } 
                }

                

               
            }
        }
    }
}