.HotelPhotos{
    padding: 30px 0;
    position: relative;
    width: 100%;
    height: 490px;
    display: flex;

    &--main{
        width: 50%;
        
        &__img{
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
    &--sub{
        width: 50%;
        position: relative;
        &__img{
            width: 50%;
            height: 50%;
            float: left;

            &-main{
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }

    &--button{
        position: absolute;
        bottom: 8%;
        right: 1.5%;

        &__text{
            width: 100%;
            border: none;
            border-radius: 3px;
            font-size: 16px;
            padding: 10px;
            color: #000000;
        }
    }

    &--hidden{
        position: absolute;
        top: 10%;
        right: 1.5%;
    }

    &_Btn{
        padding: 8px;
        padding-left: 30px;
        font-size: 16px;
        background: url('/fav.svg') no-repeat 10px 10px;
        background-color: #fff;
        border: none;
        font-weight: 600;
        border-radius: 3px;
    }

    &_Btn2{
        margin-right: 30px;
        padding: 8px;
        padding-left: 30px;
        font-size: 16px;
        background: url('https://www.cuddlynest.com/images/sv2_icons/share_icon.png') no-repeat 10px 6px;
        background-size: 12px;
        background-color: #fff;
        border: none;
        font-weight: 600;
        border-radius: 3px;
    }
}

@media screen and (max-width: 992px) {
    .HotelPhotos{
        height: 300px;

        &--button{
            bottom: 10%;
        }
    }
  
   
  }
  @media screen and (min-width: 992px) {
    .HotelPhotos--hidden{
       display: none;
    }
  
   
  }