.container-fluid{
    width: 100%;
    background-color: #242526;
}
.footer{
    color: #ffffff;
    width: 86%;
    margin: 0 auto;
    padding: 40px 0;
    // display: flex;
    
    &--top{
        width: 100%;
        display: flex;
        position: relative;
    }
    &--side{
        width: 50%;

        &__social{
            width: 40%;
            display: flex;
            justify-content: space-between;

            & img{
                width: 20px;
            }
        }

        & h5{
            font-family: Merriweather,serif;
            font-size: 50px;
            margin: 0;
        }
        & h5 span.footer--dot{
            color: #f35597;
        }
        & p{
            display: block;
            font-size: 12px;
            font-family: sans-serif;
            line-height: .5rem;
            color: #b3b1b4;
            & .img{
                width: 14px;
                margin-bottom: -3px;
                vertical-align: bottom;
            }
        }
    }

    &--bottom{
        border-top: 1px solid #b3b1b4;
        padding-top: 30px;
        position: relative;
        width: 100%;
        display: flex;
    }

    &--content{
        width: 50%;
        text-align: right;

        &__text{
            position: absolute;
            /* text-align: right; */
            font-size: 12px;
            font-family: sans-serif;
            line-height: .5rem;
            color: #b3b1b4;
            right: 12%;
            bottom: 0;
            width: fit-content;
            
            & span{
                display: initial;
                content: "";
                position: absolute;
                width: 75px;
                height: 22px;
                top: -13px;
                background: url("/vrma.svg") no-repeat center center;
            }
        }
    }

    &--section{
        display: flex;
        width: 50%;

       
        &__links{
            position: relative;
            font-family: sans-serif;
            font-size: 15px;
            width: 50%;

            & ul{
                list-style-type: none;

                & li{
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .footer--top{
        display: inherit;
    }
    .footer--top .footer--side{
      width: 100%;
    }
    .footer--top .footer--section{
      width: 100%;
    }

    .footer--bottom{
        display: inherit;
    }
    .footer--bottom .footer--side{
        width: 100%;
      }
    .footer--bottom .footer--content{
        width: 100%;
      }
  }