.container{
  padding: 10px 45px 0 45px;
}

@media screen and (max-width: 992px) {
  .container{
    padding: 10px 85px 0 85px;
  }

 
}

@media screen and (max-width: 800px){
  .container{
    padding: 10px 5% 0 5%;
  }
}